.corpo_menu{
    background-color: #434343; 
    cursor:url(cur1.cur) 4 8,auto;
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
 

    }
    .container{
        margin-top: 50px;

    }
    
    .menu{
        list-style:none;
        
        
        margin-top: 20px;
        font-size: 18px;
        margin-left: 140px;
        
    }
    .li_menu{
       
        display:inline-block;
        right: 50px;
        text-indent: -20px;
        margin-left: 40px;
      
    
    }
    .li_logar{
        
        display: block;
        right: 50px;
        text-indent: -1px;
        float: right;
        margin-right: 4px;
        text-indent: 3px;

    }
    .link:hover{
        background: #4d5354;
        cursor:url(cur2.cur) 4 8,pointer;
        background: rgba(255, 255, 255, 0.05);
        border-bottom: gold 2px solid;
        color: white;
        padding-right: 8px;
        padding-bottom: 8px;
        padding-top: 20px;
        text-decoration: none;
       
    }
    .logo{
        float: left;
        height: 40px;
        margin-left: -145px;
        margin-top:-10px;
    }
    
    .link{
        color: white;
        text-decoration: none;
        padding: 10px;
        
        
      
        
    }
    body{

        margin-top:6%;
    }
    
    .investimento{
        background-image: url(img/compra.jpg);
        
        background-position: center ;
    }
    
   
    .caixa_de_texto{
        padding-top: 10px;
        color: white;
      float: right;
      margin-right: 20%;
      word-wrap: break-word;
      width: 300px;
      height: 200px;
      
      font-size: 20px;
    }
    
    .corpo_moeda{
        margin-top: 3%;
        height: 400px;
        
        background-image: url(moeda.jpg);
        background-size: cover;
        background-position: center ;
        
          
      }

      .corpo_compra{
       color: gold;
        border-style: groove;
        border-color:gold;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #434343; 
        
        
      }
      .lista2{

     padding-left:10%;
     margin-top:-21%;
      }
      .input_display{
          margin-left:10px;
      }
    .textoAjuda{
       margin-left:15%;
        margin-top:-20%;
        float:left;
        word-wrap: break-word;

    }
    .button_envia:hover{
      border-color:gold;

    }
    .button_envia{
    width: 100px;

    }
      .envia{
          float:left;
          padding-left:20%;
          margin-top: -3%;
      }
      .compra{
       
        padding-left:20%;
        margin-top: -1%;

      }
      .botao1{
        margin-left:11px;

      }
      
