.corpo_menu{
    background-color: #434343; 
    cursor:url(cur1.cur) 4 8,auto;
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    
 

    }
    
    .menu{
        list-style:none;
        
        
        margin-top: 20px;
        font-size: 18px;
        margin-left: 140px;
        
    }
    .li_menu{
       
        display:inline-block;
        right: 50px;
        text-indent: -20px;
        margin-left: 40px;
      
    
    }
    .li_logar{
        
        display: block;
        right: 50px;
        text-indent: -1px;
        float: right;
        margin-right: 4px;
        text-indent: 3px;

    }
    .link:hover{
        background: #4d5354;
        cursor:url(cur2.cur) 4 8,pointer;
        background: rgba(255, 255, 255, 0.05);
        border-bottom: gold 2px solid;
        
        padding-right: 10px;
        padding-bottom: 13px;
        padding-top: 19px;
        
       
    }
    .logo{
        float: left;
        height: 40px;
        margin-left: -145px;
        margin-top:-10px;
    }
    
    .link{
        color: white;
        text-decoration: none;
        padding: 10px;
        
        
      
        
    }
    body{
        margin: 0;
       
        
    }
    h1{
        margin-top: 50%;
    }
.caixa_de_texto{
        padding-top: 10px;
        color: white;
      float: right;
      margin-right: 20%;
      word-wrap: break-word;
      width: 300px;
      height: 200px;
      
      font-size: 20px;
    }
    
    .corpo_moeda{
        margin-top: 4%;
        height: 400px;
        
        background-image: url(moeda.jpg);
        background-size: cover;
        background-position: center ;
        
          
      }
