.corpo_menu{
    background-color: #434343; 
    cursor: url(https://cur.cursors-4u.net/cursors/cur-5/cur464.cur), auto !important;}</style><a href="http://www.cursors-4u.com/cursor/2010/10/09/unborn-8-0-grey-pointer.html" target="_blank" title="Unborn 8.0 Grey Pointer"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Unborn 8.0 Grey Pointer" style="position:absolute; top: 0px; right: 0px;" /></a>) 4 8,auto;
    height: 55px;
    margin-top: -20px;
    display: block;

 

    }
    .menu{
        list-style:none;
        text-align: center;
        text-transform: uppercase;
        padding: 9px;
        font-size: 18px;
        margin-left: 140px;
         
    }
    .li_menu{
        margin-top: 9px;
        display: inline-block;
        right: 50px;
        text-indent: -4px;
         
    
    }
    .li_logar{
        margin-top: 9px;
        display: block;
        right: 50px;
        text-indent: -1px;
        float: right;

    }
    .link:hover{
        background: #4d5354;
        cursor:url(cur2.cur) 4 8,pointer;
        background: rgba(255, 255, 255, 0.05);
        border-bottom: tomato 2px solid;
       
       
    }
    .logo{
        float: left;
        height: 40px;
        margin-left: -145px;
    }
    
    .link{
        color: white;
        text-decoration: none;
        padding: 10px;
        
        padding-right: 10px;
        padding-bottom: 15px;
        padding-top: 17px;
        border-left: 1px solid #4d5354;
        border-left: 1px solid rgba(255, 255, 255, 0.06);
        border-right: 1px solid #353939;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    body{
        margin: 0;
        
    }
